@import "tailwindcss";
#root{
    font-family: 'Inter',sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }